ADMIN_PASSWORD=<PASSWORD>  # change to your existing admin password
USER_PASSWORD=<PASSWORD>  # change to your existing user password
EXAMPLES_DIRECTORY_PATH=<PATH_TO_EXAMPLES_DIRECTORY>  # path to examples directory on your machine